/* 초기화 */
@charset "utf=8";

* {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   word-break: keep-all;
   font-family: 'Noto Sans KR', sans-serif;
}

/* 헤더 */

#header {
   height: 100px;
   background-color: #fff;
}

a > h1 > img {
   margin-top: 10px;
   width: 200px;
}

.mybox {
   margin: 0px 16px 0px 16px;
   background-color: rgba(255, 255, 255, 0.8);
}

.navbar-collapse {
   flex-grow: unset;
}

.navbar-nav {
   float: right;
}

.myitem {
   margin-left: 70px;
}
.navbar-nav li a {
   color: rgb(146, 146, 146) !important;
}
.nav-link:hover {
   color: #960909 !important;
}
.nav-link:focus {
   color: #960909 !important;
}

/* 드랍다운 메뉴 설정 변경 */
.dropdown {
   margin-left: 70px;
}
.dropdown-menu {
   background-color: rgba(0, 0, 0, 0.3) !important;
   border: 1px solid black;
   margin-top: 14px !important;
}
.dropdown-menu li {
   padding-top: 6px;
}
.dropdown-menu li a {
   text-align: center;
}

.navbar-toggler {
   background-color: #fff;
}

/* 콘텐츠 */
#content {
   width: 100%;
   height: 100%;
   clear: both;
}

#con1 {
   max-width: 1440px;
   margin: 0 auto;
}

.con1_name {
   max-width: 100%;
   height: 400px;
   background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/resources/Minji/images/01.jpg');
   background-size: cover;
   background-position: 0%;
   margin-bottom: 80px;
}

/* 콘텐츠 상단-네이밍 */
h2 {
   font-size: 40px;
   color: #fff;
   font-weight: 900;
   line-height: 400px;
   text-align: center;
}

/* 텍스트 */
.text1 {
   max-width: 1000px;
   height: 40px;
   margin: 0 auto;
   margin-bottom: 30px;
   margin-left: 16px;
   margin-right: 16px;
}

.text2 {
   max-width: 1000px;
   margin: 0 auto;
   margin-bottom: 100px;
   margin-top: 60px;
   margin-left: 16px;
   margin-right: 16px;
}

.name {
   display: block;
   font-size: 1.17em;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
   color: #a60000;
}

.announce2 {
   font-size: 11pt;
   font-weight: 400;
   line-height: 1.7;
   color: #333333;
   padding-left: 15px;
   margin: 10px 0px 20px 0px;
}

.announce2 > thin {
   font-size: 10pt;
   color: #7c7c7c;
   line-height: 1;
}

.announce2 > a {
   color: #333333;
}

.announce {
   font-size: 11pt;
   font-weight: 300;
   line-height: 1.7;
   color: #7c7c7c;
   padding-left: 15px;
}

/* 콘텐츠 하단 */
.map_box {
   max-width: 1440px;
   margin: 0 auto;
   height: 100%;
}

#map {
   max-width: 1000px;
   height: 600px;
   margin: 0 auto;
}

/* 푸터 */

footer {
   clear: both;
   width: 100%;
   height: 160px;
   background-color: #505050;
}

#foot {
   max-width: 1440px;
   color: #cccccc;
   position: relative;
   margin: 0 auto;
   font-size: 12px;
   line-height: 1.8;
   padding-top: 25px;
   padding-left: 16px;
}
